$main-bg-color: rgb(38, 39, 41);
$main-border-color: #eee;
$main-text-color: #fff;
$secondary-color: rgb(44, 47, 53);
$box-shadow: #181a1f;
$cool_blue: #42a1f2;

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Arial;
}
.no_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  background-color: $main-bg-color;
  color: white;
}
.shadow {
  -moz-box-shadow: 3px 3px 2px 6px $secondary-color;
  -webkit-box-shadow: 3px 3px 2px 6px $secondary-color;
  box-shadow: 3px 3px 2px 6px $secondary-color;
}
.box_shadow {
  box-sizing: border-box;
  box-shadow: 0 1px 3px $box-shadow;
}
.line {
  height: 1px;
  width: 100%;
}
.line_title {
  background-color: #777;
  margin-top: 5px;
}
#main_body {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
}
#toolbar {
  width: 100%;
  height: 60px;
  background-color: $secondary-color;
}
.logo_image {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.block {
  background-color: $secondary-color;
  width: 100%;
  height: auto;
  min-height: 10px;
  border-radius: 5px;
  padding: 20px;
}
.small_title {
  margin-bottom: 20px;
  font-size: 20px;
}
.blue_input {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  height: 20px;
  font-size: 14px;
  width: 200px;
  color: white;
  outline: none;
  background-color: $main-bg-color;
  border-color: #222;
  transition: 0.2s;
  margin-bottom: 11px;
  margin-top: 1px;
  font-weight: 600;
  margin-left: 1px;
  &:focus {
    border-width: 2px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    border-color: $cool_blue;
  }
}
.select {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  font-size: 14px;
  width: 200px;
  color: white;
  outline: none;
  background-color: $main-bg-color;
  border-color: #222;
  transition: 0.2s;
  margin-bottom: 11px;
  margin-top: 1px;
  font-weight: 600;
  margin-left: 1px;
  &:focus {
    border-width: 2px;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 0px;
    border-color: $cool_blue;
  }
}
.form_submit {
  outline: none;
  border-radius: 2px;
  border: none;
  width: 200px;
  margin-top: 5px;
  margin-left: 0px;
  height: 40px;
  background-color: #42a1f2;
  line-height: 40px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: darken($color: #42a1f2, $amount: 25);
    color: #ccc;
  }
}
.toolbar_link {
  color: white;
  transition: 0.2s;
  text-decoration: none;
  float: right;
  line-height: 60px;
  margin-right: 20px;
  &:hover {
    color: $cool_blue;
  }
}
.side_line {
  position: relative;
  height: 14px;
  width: 1px;
  background-color: white;
  float: right;
  margin-top: 23px;
  margin-right: 20px;
}
.product_holder {
  text-align: center;
}
.product_item {
  display: inline-block;
  width: 200px;
  height: 175px;
  border-radius: 5px;
  background-color: $main-bg-color;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  * {
    font-family: "Open sans";
  }
  input {
    margin-top: 5px;
  }
  h3 {
    text-align: center;
    padding-top: 11px;
  }
  .cost_display {
    color: #00b06f;
  }
  .sku_display {
    color: #ccc;
  }
  .attribute_display {
    font-size: 15px;
  }
}
.option_holder {
  height: 15px;
  margin-top: 10px;
  * {
    float: left;
  }
  input {
    margin-top: 3px;
    margin-right: 5px;
  }
}
.select_all_p {
  cursor: pointer;
}
.delete_selected {
  float: right;
  color: #f74b52;
  cursor: pointer;
  transition: 0.2s;
  i {
    margin-right: 5px;
  }
  &:hover {
    color: red;
  }
}
.noty_theme__relax {
  background-color: #f74b52 !important;
  border-color: red !important;
  * {
    border-color: #f74b52 !important;
    color: white;
    font-family: "Raleway" !important;
    font-weight: 400 !important;
    font-size: 20px;
    button {
      outline: none;
      cursor: pointer;
      color: black;
      background-color: white;
      padding: 3px;
    }
  }
}
